<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Generate New Setlist For <%= band %></h1>
    </header>
    <div class="row container">

        <form action="/setlists" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Venue" name="venue">
            </div>
            <div class="form-group">
                <input class="form-control" type="date" placeholder="Date of Show" name="date">
            </div>
            <div class="form-group">                
                <input class="form-control" type="number" placeholder="Number of Sets" name="sets">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" placeholder="Length per Set" name="setLength">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary">Generate</button>
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>