<% include partials/header %>

<h4>Add a new Song</h4>

<form action="/songs" method="POST">
    <input type="text" placeholder="title" name="title">
    <button>Submit</button>
</form>

<% include partials/footer %>